<p-card>

  <!-- Quitamos la barra porque si no está todo muy cargado...
  <p-progressBar *ngIf="this.cargandoUsuarios" mode="indeterminate" styleClass="h-1rem"></p-progressBar>
  -->
  <div class="flex justify-content-end mb-2 p-3 gap-3">
    <p-button
      (click)="cargarUsuarios()"
      [loading]="cargandoUsuarios"
      icon="pi pi-refresh"
      label="Recargar"
      styleClass="p-button-info"
    ></p-button>
    <p-button
      (click)="mostrarDialogoUsuario()"
      icon="pi pi-user-plus"
      label="Nuevo usuario"
      styleClass="p-button-success"
    ></p-button>
  </div>
  <p-table
    [value]="usuarios"
    [rowHover]="true"
    styleClass="p-datatable-gridlines"
    [loading]="cargandoUsuarios"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5,10,20]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrado del {first} al {last} Total: {totalRecords}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" ></p-sortIcon> </th>
        <th>Correo</th>
        <th pSortableColumn="rol.rol">Rol <p-sortIcon field="rol.rol"></p-sortIcon> </th>
        <th>Admin</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{usuario.id}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.correo}}</td>
        <td><p-tag icon="pi pi-user" [rounded]="true" [value]="usuario.rol.rol" [severity]="obtenerEstiloPorRol(usuario.rol.rol)" ></p-tag></td>
        <td>
          <!--          <i *ngIf="usuario.admin" class="pi pi-check-circle" style="color: lightgreen"></i>-->
          <!--          <i *ngIf="!usuario.admin" class="pi pi-times-circle" style="color: tomato"></i>-->
          <!--          -->
          <i class="pi" [class]="usuario.admin ? 'pi-check-circle': 'pi-times-circle'" [style]="{color: usuario.admin ? 'lightgreen': 'tomato'}"></i>

        </td>
        <td>
          <div class="flex flex-wrap gap-3 justify-content-center">
            <p-button (click)="confirmarBorrar(usuario, $event)" [loading]="borrandoUsuario"  icon="pi pi-trash" styleClass="p-button-rounded p-button-text p-button-raised p-button-danger"></p-button>
            <p-button (click)="mostrarDialogoUsuario(usuario)" icon="pi pi-pencil" styleClass="p-button-rounded p-button-text p-button-raised p-button-warning"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>


  </p-table>


</p-card>

<!-- **************************************************
Aquí todos los elementos flotantes, toast, popups, diálogos, etc
-->
<div>
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <p-dialog
    [(visible)]="dialogoNuevoUsuarioVisible"
    [modal]="true"
    [maximizable]="true"
    [header]="this.estoyEditando ? 'Editar usuario':'Nuevo usuario'"
  >
    <form class="mt-4" [formGroup]="formUsuario" (ngSubmit)="validarFormulario()" >
      <input type="hidden" formControlName="id" />
      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input pInputText id="nombre" type="text" class="w-full" aria-labelledby="nombre-ayuda" formControlName="nombre" />
            <label htmlFor="nombre">Nombre</label>
            <small *ngIf="esCampoInvalido('nombre')" style="color: #e24c4c" id="nombre-ayuda">Debe tener entre 2 y 50 caracteres </small>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
            <input pInputText id="correo" type="text" class="w-full" aria-labelledby="correo-ayuda" formControlName="correo"/>
            <label htmlFor="correo">Correo</label>
            <small *ngIf="esCampoInvalido('correo')" style="color: #e24c4c" id="correo-ayuda">El correo no es válido</small>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <span class="p-float-label">
<!--            <input pInputText id="clave" type="password" class="w-full"/>-->
            <p-password
              promptLabel="Introduce contraseña"
              weakLabel="Débil"
              mediumLabel="Media"
              strongLabel="Fuerte"
              id="password"
              [toggleMask]="true"
              [feedback]="true"
              formControlName="clave" >
              <ng-template pTemplate="footer">
                <p class="mt-2">Sugerencias</p>
                <ul class="text-sm">
                  <li>Al menos una minúscula</li>
                  <li>Al menos una mayúscula</li>
                  <li>Al menos un número</li>
                  <li>Al menos 8 caracteres</li>
                </ul>
              </ng-template>
            </p-password>
            <label for="password">Contraseña</label>
          </span>
        </div>
        <div class="field col-12 md:col-6">
          <p-dropdown
            styleClass="w-full"
            [options]="roles"
            optionLabel="rol"
            appendTo="body"
            placeholder="--Seleccione un rol--"
            formControlName="rol"
          ></p-dropdown>
        </div>

      </div>

      <div class="flex justify-content-end gap-3">
        <p-button
          icon="pi pi-eye"
          label="Verificar"
          (click)="marcarTodosLosCampos()"
        ></p-button>

        <p-button
          icon="pi pi-save"
          label="Guardar"
          type="submit"
          [loading]="guardandoUsuario"
          [styleClass]="formUsuario.valid ? 'p-button-success': 'p-button-danger'"
          [disabled]="formUsuario.invalid || formUsuario.pristine"
        ></p-button>


      </div>

    </form>
    <!-- Ocultamos el cuadro de variables y objetos con hidden, cuando no lo necesitemos -->
    <div

      class="p-message p-message-info">
      <code>
        <p>Value    : {{ formUsuario.value | json }}</p>
        <p>Valid    : {{ formUsuario.valid }}</p>
        <p>Invalid  : {{ formUsuario.invalid }}</p>
        <p>Pristine : {{ formUsuario.pristine }}  </p>
        <p>Touched  : {{ formUsuario.touched }}</p>
        <p>correo valid  : {{ formUsuario.controls['correo'].valid }}</p>
        <p>correo touched: {{ formUsuario.controls['correo'].touched }}</p>
      </code>
    </div>


  </p-dialog>
</div>

